@import '~base-imports';

.checkbox {
    width: 1.5rem;
    height: ($font-size-base * $line-height-base + 1.5rem) / 2;
    &:checked ~ .label::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 0H0V24H24V0ZM17.1721 8.06409C17.2736 8.1064 17.3658 8.16839 17.4433 8.2465C17.5279 8.32453 17.5954 8.41924 17.6415 8.52466C17.6877 8.63008 17.7115 8.74391 17.7115 8.859C17.7115 8.97408 17.6877 9.08792 17.6415 9.19334C17.5954 9.29875 17.5279 9.39346 17.4433 9.4715L10.6433 16.2715C10.5658 16.3496 10.4736 16.4116 10.3721 16.4539C10.2705 16.4962 10.1616 16.518 10.0516 16.518C9.94159 16.518 9.83267 16.4962 9.73112 16.4539C9.62957 16.4116 9.5374 16.3496 9.45994 16.2715L6.25994 13.0715C6.1795 12.9938 6.11516 12.901 6.07058 12.7985C6.026 12.6959 6.00206 12.5855 6.00013 12.4737C5.99819 12.3619 6.0183 12.2508 6.0593 12.1468C6.10031 12.0427 6.1614 11.9478 6.2391 11.8673C6.3168 11.7869 6.40958 11.7226 6.51215 11.678C6.61471 11.6334 6.72505 11.6095 6.83687 11.6075C6.94869 11.6056 7.05979 11.6257 7.16384 11.6667C7.26788 11.7077 7.36283 11.7688 7.44327 11.8465L10.0516 14.4632L16.2599 8.2465C16.3374 8.16839 16.4296 8.1064 16.5311 8.06409C16.6327 8.02178 16.7416 8 16.8516 8C16.9616 8 17.0705 8.02178 17.1721 8.06409Z' fill='%23BA12B0'/%3E%3C/svg%3E") !important;
    }
}

.label {
    &:before,
    &:after {
        border-radius: 4px;
    }
    &:hover {
        &:before,
        &:after {
            border-color: $primary-500;
        }
    }
}
