@import '~base-imports';

$animation-duration: 1.5s;

.tertiaryColorSecondary,
.tertiaryColorBasic,
.returnButton {
    padding: 0;

    span {
        display: inline-block;
        &.firstArrow {
            margin-left: 8px;
        }
    }

    &:hover {
        span {
            &.firstArrow {
                animation: arrow1 $animation-duration linear infinite;
            }
            &.secondArrow {
                animation: arrow2 $animation-duration linear infinite;
            }
        }
    }
}

.returnButton {
    span {
        display: inline-block;
        &.firstArrow {
            margin-left: 0px;
        }
        &.firstArrow {
            margin-right: 4px;
        }
    }
}

@keyframes arrow1 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}

@keyframes arrow2 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
