/**
 * @tokens 90 colors — @solublestudio/unusuals-design-system
 * @presenter Color
 */
$primary-900: #460742;
$primary-800: #7e0c77;
$primary-700: #a30f9a;
$primary-600: #ba12b0;
$primary-500: #ec37e1;
$primary-400: #ee4ee5;
$primary-300: #f48aee;
$primary-200: #f8b9f5;
$primary-100: #fde8fc;

$secondary-blue-900: #080448;
$secondary-blue-800: #0f0882;
$secondary-blue-700: #130aa8;
$secondary-blue-600: #160bc1;
$secondary-blue-500: #3024f2;
$secondary-blue-400: #5248f4;
$secondary-blue-300: #8d87f8;
$secondary-blue-200: #bbb7fb;
$secondary-blue-100: #e8e7fe;

$secondary-cyan-900: #012428;
$secondary-cyan-800: #035059;
$secondary-cyan-700: #069cad;
$secondary-cyan-600: #08daf2;
$secondary-cyan-500: #66ebfa;
$secondary-cyan-400: #7feefb;
$secondary-cyan-300: #a6f3fc;
$secondary-cyan-200: #c4f7fd;
$secondary-cyan-100: #e6fcfe;

$basic-900: #121222;
$basic-800: #242442;
$basic-700: #363663;
$basic-600: #474785;
$basic-500: #5959a6;
$basic-400: #7a7ab8;
$basic-300: #9c9cc9;
$basic-200: #bdbddb;
$basic-100: #dedeed;
$basic-000: #fcfcfd;
$basic-light-bg: #ededf5;

$success-500: #84bf55;
$success-400: #90c566;
$success-300: #9ecd7a;

$warning-500: #e09843;
$warning-400: #e3a357;
$warning-300: #e7b06f;

$dangerous-500: #d63838;
$dangerous-400: #db4f4f;
$dangerous-300: #df6262;

$gradient: linear-gradient(241.91deg, #3024f2 18.05%, #ea20de 73.03%);

$white: #fff;
$black: #000;
