{
    "presets": [
        ["@babel/preset-react", { "loose": true }],
        ["@babel/preset-env", { "loose": true }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}