@import '~base-imports';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/custom-forms';

.valid-msg {
    display: block;
    margin: 0;
}

@if $input-top-padding-fix {
    $fix-input-default: $input-font-size * $input-top-padding-fix;

    .form-control {
        padding-top: $input-padding-y + $fix-input-default;
        padding-bottom: $input-padding-y - $fix-input-default;
    }
}

@if $input-placeholder-font-style {
    .form-control::placeholder {
        font-style: $input-placeholder-font-style;
    }
}

@if $input-border-radius {
    .form-control {
        border-radius: $input-border-radius;
    }
}

@include media-breakpoint-up(lg) {
    @if ($form-group-lg-margin-bottom) {
        .form-group {
            margin-bottom: $form-group-lg-margin-bottom;
        }
    }

    .form-control:not(.form-control-sm) {
        @if ($input-lg-font-size) {
            font-size: $input-lg-font-size;
        }
        @if ($input-lg-line-height) {
            line-height: $input-lg-line-height;
        }
        @if ($input-lg-padding-y) {
            height: calc(
                #{$input-lg-line-height *
                    1em} +
                    #{$input-lg-padding-y *
                    2} +
                    #{$input-height-border}
            );
            padding-bottom: $input-lg-padding-y;
            padding-top: $input-lg-padding-y;
        }
        @if ($input-lg-padding-x) {
            padding-left: $input-lg-padding-x;
            padding-right: $input-lg-padding-x;
        }
    }

    .custom-select {
        @if ($custom-select-lg-line-height) {
            line-height: $custom-select-lg-line-height;
        }

        @if ($custom-select-lg-padding-y) {
            @if ($custom-select-lg-line-height) {
                height: calc(
                    #{$custom-select-lg-line-height *
                        1em} +
                        #{$custom-select-lg-padding-y *
                        2} +
                        #{$custom-select-border-width *
                        2}
                );
            } @else {
                height: calc(
                    #{$custom-select-line-height *
                        1em} +
                        #{$custom-select-lg-padding-y *
                        2} +
                        #{$custom-select-border-width *
                        2}
                );
            }
            padding-top: $custom-select-lg-padding-y;
            padding-bottom: $custom-select-lg-padding-y;
        }

        @if ($custom-select-lg-padding-x) {
            padding-left: $custom-select-lg-padding-x;
            padding-right: $custom-select-lg-padding-x +
                $custom-select-indicator-padding;
        }
    }
}
